#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
h1{
  display: flex;
  justify-content: center;
  gap: 20rem;
}

.container-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.info-name{
  color: black;
  width: 45%;
  padding: 10px;
  border-radius: 10px;
  border-color: green;
  margin-top: 10px;
}
